body{
  background: rgb(32, 32, 32);
}

.main-wrapper{
  display: flex;
}

.btn{
  padding: 20px 50px;
  font-size: 20px;
  margin: 1rem 0;
  border: none;
  color: white;
  text-transform: uppercase;
  background: #d0ac7a;
  cursor: pointer;
  outline: none;
}